.hero {
  margin-top: 175px;

  @media (max-width: 991px) {
    margin-top: 135px;
  }

  @media (max-width: 756px) {
    margin-top: 90px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    margin-bottom: 100px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 50px;
      margin-bottom: 70px;
    }

    @media (max-width: 567px) {
      margin-bottom: 50px;
    }
  }

  &__representation {
    max-width: 51%;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    max-width: 480px;
    margin-bottom: 32px;
    opacity: 0;

    &._active {
      opacity: 1;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s both;
    }

    @media (max-width: 991px) {
      font-size: 45px;
      max-width: 90%;
      margin: 0 auto 32px;
    }

    @media (max-width: 756px) {
      max-width: 100%;
    }

    @media (max-width: 567px) {
      font-size: 35px;
    }
  }

  &__text {
    font-size: 30px;
    opacity: 0;

    &._active {
      opacity: 1;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    }

    p:not(:last-child) {
      margin-bottom: 40px;
    }

    @media (max-width: 567px) {
      font-size: 25px;
    }
  }

  &__image {
    opacity: 0;
    max-height: 700px;
    display: flex;
    justify-content: flex-end;

    &._active {
      opacity: 1;
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    }

    img {
      max-height: 100%;
      object-fit: contain;
    }

    @media (max-width: 756px) {
      max-height: 500px;
    }

    @media (max-width: 567px) {
      max-height: 400px;
    }
  }

  .skills-hero {

    &__title {
      font-size: 35px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 50px;
      opacity: 0;

      &._active {
        opacity: 1;
        animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      @media (max-width: 567px) {
        font-size: 30px;
          margin-bottom: 30px;
      }
    }

    &__type {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      @media (max-width: 991px) {
        max-width: 100%;
      }

      @media (max-width: 567px) {
        flex-direction: column;
        row-gap: 30px;
      }
    }

    &__type-title {
      font-size: 25px;
      font-weight: 500;
      line-height: 1;
      opacity: 0;

      &._active {
        opacity: 1;
        animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s both;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      max-width: 50%;
      gap: 15px;
      opacity: 0;

      &._active {
        opacity: 1;
        animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s both;
      }

      @media (max-width: 567px) {
        max-width: 100%;
        justify-content: flex-start;
      }
    }

    &__item {
      border: 1px solid $balck;
      border-radius: 5px;
      padding: 2px 4px;
    }
  }
}
