.footer {
  padding: 70px 0;

  @media (max-width: 567px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 50px;
    opacity: 0;

    &._active {
      opacity: 1;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @media (max-width: 567px) {
      font-size: 35px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 567px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__left {
    opacity: 0;

    &._active {
      opacity: 1;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &__left-link {
    font-size: 32px;
    display: flex;
    align-items: center;
    column-gap: 10px;

    span {
      font-size: 25px;
    }

    &::after {
      bottom: -2px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 567px) {
      font-size: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__social {
    opacity: 0;

    &._active {
      opacity: 1;
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &__social-link {
    font-size: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;

    span {
      font-size: 25px;
    }

    &::after {
      bottom: -2px;
    }

    @media (max-width: 567px) {
      font-size: 20px;
    }
  }
}
